/* login.css */

/* Set background image for the whole page */
.bg-image {
    background-image: url('https://www.visitdubai.com/-/media/dotsite/images/5-0-newsroom/2020/05/dubais-hospitality-sector-commences-prudent-reopening/atlantis-the-palm-hotels-in-dubai-can-reopen-beaches-but-must-adhere-to-new-safety-guidelines-1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ensure the background covers the entire viewport height */
}

/* Ensure the login container fills the entire viewport height */
.loginscreen-container {
    height: 100vh; 
}

/* Style for the content wrapper */
.content-wrapper {
    background-color: rgba(255, 255, 255, 0.9); /* Set the background color with alpha value (opacity) */
    padding: 20px; /* Add padding for better readability */
}

.bs {
    background-color: rgba(255, 255, 255, 255); /* Decrease the alpha value to reduce transparency */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 20px !important;
    border-radius: 5px !important;
    padding: 20px !important;
}
